<div class="container pt-4">

    <div class="row">

        <div class="jumbotron list-content col-sm-3 p-2 m-auto">
             {{#each categories}}
                <div class="table-responsive">
                    <table class="table">
                        <tr><td><a href="/category/{{_id}}" style="color: black;">{{name}}</a></td></tr>
                    </table>
                </div>
             {{/each}}
        </div>
        <div class="jumbotron list-content col-sm-3 p-2 m-auto">
            <div class="table-responsive">
                <table class="table">
                    <tr><td>Sports</td></tr>
                    <tr><td>Economics</td></tr>
                    <tr><td>Sports</td></tr>
                </table>
            </div>
        </div>
        <div class="jumbotron list-content col-sm-3 p-2 m-auto">
            <div class="table-responsive">
                <table class="table">
                    <tr><td>Sports</td></tr>
                    <tr><td>Economics</td></tr>
                    <tr><td>Sports</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>