<!-- Latest Products Start -->
<section class="latest-product-area">

    <div class="container mt-4">
        <div class="header mb-10">
            <h3 class="text-muted">
                <span class="fa fa-book fa-2x "aria-hidden="true"></span>
                <span>Category Name</span>
            </h3>

        </div>

        <div class="row product-btn d-flex justify-content-between">

            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="card single-product mb-60 shadow mb-2 bg-white rounded">
                                <img class="card-img-top" src="https://file.mockplus.com/image/2018/07/9ef26257-dc40-44b1-bec9-ae84a155b3ad.png" alt="Card image cap">
                                <div class="card-body">
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <div class="card-text">
                                            <span class="text-muted">Name:</span>  <a href="#" style="color: #00b1ff;">Book Name</a><br/>
                                            <span class="text-muted">Author:</span> <a href="#" style="color: #00b1ff;">Author Name</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
<!--                           -->


                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="card single-product mb-60 shadow mb-2 bg-white rounded">
                                <img class="card-img-top" src="https://file.mockplus.com/image/2018/07/9ef26257-dc40-44b1-bec9-ae84a155b3ad.png" alt="Card image cap">
                                <div class="card-body">
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <div class="card-text">
                                            <span class="text-muted">Name:</span>  <a href="#" style="color: #00b1ff;">Book Name</a><br/>
                                            <span class="text-muted">Author:</span> <a href="#" style="color: #00b1ff;">Author Name</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>


<!--                        -->

                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="card single-product mb-60 shadow mb-2 bg-white rounded">
                                <img class="card-img-top" src="https://file.mockplus.com/image/2018/07/9ef26257-dc40-44b1-bec9-ae84a155b3ad.png" alt="Card image cap">
                                <div class="card-body">
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <div class="card-text">
                                            <span class="text-muted">Name:</span>  <a href="#" style="color: #00b1ff;">Book Name</a><br/>
                                            <span class="text-muted">Author:</span> <a href="#" style="color: #00b1ff;">Author Name</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

<!--                        -->

                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="card single-product mb-60 shadow mb-2 bg-white rounded">
                                <img class="card-img-top" src="https://file.mockplus.com/image/2018/07/9ef26257-dc40-44b1-bec9-ae84a155b3ad.png" alt="Card image cap">
                                <div class="card-body">
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <div class="card-text">
                                            <span class="text-muted">Name:</span>  <a href="#" style="color: #00b1ff;">Book Name</a><br/>
                                            <span class="text-muted">Author:</span> <a href="#" style="color: #00b1ff;">Author Name</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
<!--                        -->
                    </div>
                </div>

            </div>
            <!-- End Nav Card -->
        </div>

            <div class="pagination">

                <ul>
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>

            </div>
        </div>
    </div>

</section>
<!-- Latest Products End -->

<!--
<section class="latest-product-area">
    <div class="container mt-4">
        <div class="header mb-10">
            <h3 class="text-muted">
                <span class="fa fa-book fa-2x "aria-hidden="true"></span>
                <span>Category Name</span>
            </h3>
        </div>
        <div class="row product-btn d-flex justify-content-between">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        {{!#each books}}

                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="card single-product mb-60 shadow mb-2 bg-white rounded">
                                    <img class="card-img-top" src="{{!this.image}}" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="product-caption">
                                            <div class="product-ratting">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star low-star"></i>
                                                <i class="far fa-star low-star"></i>
                                            </div>
                                            <div class="card-text">
                                                <span class="text-muted">Name:</span>  <a href="#" style="color: #00b1ff;">{{!this.name}}</a><br/>
                                                <span class="text-muted">Author:</span> <a href="#" style="color: #00b1ff;">{{!this.author.name}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{!/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
